# ==================================================
# Flask
# ==================================================

SECRET_KEY=healthcare_fraud_secret_key
DEBUG=True

# ==================================================
# Database
# ==================================================

DATABASE_URL=sqlite:///../database/claims.db

# ==================================================
# JWT
# ==================================================

JWT_SECRET_KEY=healthcare_fraud_jwt_secret

# ==================================================
# Uploads
# ==================================================

UPLOAD_FOLDER=uploads